/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

button#openModal {
    padding: 10px 20px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button#openModal:hover {
    background-color: blue;
}

/* Стили для модального окна */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: RGBA(152,251,152, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
}

.close-button {
    float: right;
    font-size: 24px;
    line-height: 12px;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: red;
}

h2 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 25px;
}
